#Mac
.DS_Store

#Makefile
make/*/bin
make/*/obj

#Eclipse project files
.cproject
.project
.settings

#Visual Studio
vs*/*.sdf
vs*/*.opensdf
vs*/*.suo
vs*/*.user
vs*/x64
vs*/Win32
vs*/Release
vs*/Debug
