#Mac
.DS_Store

#Makefile
make/*/bin
make/*/obj

#Eclipse project files
.cproject
.project
.settings

#Visual Studio
vs12/x64
vs12/Win32
vs12/*.sdf
vs12/*.opensdf
vs12/*.suo
vs12/*.user
vs12/*/x64
vs12/*/Win32
vs12/*/*.user
